@media (min-width: 320px) and (max-width: 769px) {
  .reverse-on-xs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .mb100 {
    margin-bottom: 0px;
  }
  .creation-first,
  .analytics-first {
    margin-top: 100px;
  }
  .creation-second,
  .lead-generation-first,
  .collaboration-second,
  .distribution-second,
  .analytics-second {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .exclusive-wework-offer {
    margin-top: 50px;
  }
  .exclusive-wework-offer,
  .creation-header-h1,
  .creation-subheader-h3,
  .lead-generation-header-h1,
  .lead-generation-subheader-h3,
  .collaboration-header-h1,
  .collaboration-subheader-h3,
  .distribution-header-h1,
  .distribution-subheader-h3,
  .analytics-header-h1,
  .analytics-subheader-h3 {
    text-align: center;
  }
  .input-with-button {
    width: 100%;
  }
  .input-with-button input {
    width: 100% !important;
    display: block;
    margin-bottom: 30px;
    background: whitesmoke;
    color: #d1d1d1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .input-with-button button {
    display: block;
    width: 60% !important;
    margin: 0 auto !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0px 15px;
  }
  .we-work {
    height: auto;
  }
  .df {
    margin-bottom: 100px;
  }
  .centered-wework-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .centered-wework-info h3 {
    margin-top: 50px;
    padding: 0px 5px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 769px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    text-align: center;
  }
  .section1-image-logo {
    height: 22px;
  }
  .section1-header-h1 {
    font-size: 30px;
  }
  .section1-subheader-p {
    font-size: 18px;
  }
  .trusted {
    font-size: 23.97px;
  }
  .exclusive-wework-offer {
    font-size: 36px;
    text-align: center;
  }
  .wework-members {
    font-size: 24px;
  }
  .btn {
    margin: 0 auto;
  }
  .mb100 {
    margin-bottom: 50px;
  }
  .mt100 {
    margin-top: 50px;
  }
  .section-1-image-logo img {
    width: 35%;
    margin: 0 auto;
  }
  .pdgs {
    padding: 100px 0px 100px 0px;
  }
  body {
    background: red;
  }
}
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
